.PostDetails {
  width: 60%;
  margin: 0 auto;
  border: 2px #00BFFF solid;
  border-radius: 5px;
  padding: 20px;
  &__Time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__Input {
    padding: 12px;
    width: 300px;
  }
  &__Button {
    padding: 12px;
  }
  &__Loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}