.MessageBox {
  width: 90%;
  margin: 0 auto;
  background: #00BFFF;
  color: white;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  &__Delete {
    background: none;
    border: none;
    color: white;
  }
  &__Delete:hover {
    cursor: pointer;
  }
  &__Delete:focus {
    outline: none;
  }
  &__Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__Link {
    color: white;
  }
}