.PostDetails {
  width: 60%;
  margin: 0 auto;
  border: 2px #00BFFF solid;
  border-radius: 5px;
  padding: 20px;
  &__Input {
    padding: 12px;
    width: 300px;
    margin-top: 20px;
  }
  &__Button {
    padding: 12px;
  }
  &__Loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__Warning {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__EditButton {
    background: none;
    border: none;
  }
  &__EditButton:hover {
    cursor: pointer;
  }
  &__EditButton:focus {
    outline: none;
  }
  &__EditInput {
    width: 70%;
    padding: 20px;
    border-radius: 5px;
  }
  &__EditButtonText {
    height: 59px;
  }
}